{% extends "_layouts/page-bare.html" %}

{% block title %}Accessibility{% endblock %}

{% block content %}
<section class="p-strip--accent is-deep">
  <div class="row">
    <div class="col-4 col-medium-2">
      <h1 class="p-heading--2">Accessibility</h1>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Maecenas vel mi sed nibh ullamcorper
        maximus dictum varius ligula.
      </p>
    </div>
  </div>
</section>
{% endblock %}
