@mixin design-p-font-tester {
  .font-tester {
    &__demo {
      height: 300px;
      margin: $sp-xx-large 0;
      overflow-y: auto;
      width: 100%;

      &[data-style="normal"] { font-style: normal; }
      &[data-style="italic"] { font-style: italic; }

      &[data-family="ubuntu"] { font-family: 'Ubuntu variable'; }
      &[data-family="monospace"] { font-family: 'Ubuntu Mono variable'; }

      &[data-color="black"] { color: $color-dark; }
      &[data-color="red"] { color: $color-negative; }
      &[data-color="orange"] { color: $color-accent; }
    }
  }
}
