// settings
$font-allow-cyrillic-greek-latin: true;

// Import Vanilla framework
@import "vanilla-framework";
@include vanilla;

@include vf-p-icons;

@include vf-p-icon-highlight-off;
@include vf-p-icon-highlight-on;
@include vf-p-icon-home;
@include vf-p-icon-import;
@include vf-p-icon-in-progress;
@include vf-p-icon-info;
@include vf-p-icon-inspector-debug;
@include vf-p-icon-warning-grey;
@include vf-p-icon-spinner;
@include vf-p-icon-controllers;
@include vf-p-icon-change-version;
@include vf-p-icon-loading-steps;
@include vf-p-icon-lock-locked-active;
@include vf-p-icon-lock-locked;
@include vf-p-icon-lock-unlock;
@include vf-p-icon-machines;
@include vf-p-icon-maximise-bar;
@include vf-p-icon-menu;
@include vf-p-icon-minimise-bar;
@include vf-p-icon-minus;
@include vf-p-icon-models;
@include vf-p-icon-mount-2;
@include vf-p-icon-mount;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pin;
@include vf-p-icon-plans;
@include vf-p-icon-plus;
@include vf-p-icon-pods;
@include vf-p-icon-power-error;
@include vf-p-icon-power-off;
@include vf-p-icon-power-on;
@include vf-p-icon-profile;
@include vf-p-icon-help;
@include vf-p-icon-restart;
@include vf-p-icon-revisions;
@include vf-p-icon-search;
@include vf-p-icon-security;
@include vf-p-icon-settings;
@include vf-p-icon-share;
@include vf-p-icon-show;
@include vf-p-icon-sort-both;
@include vf-p-icon-sort-down;
@include vf-p-icon-sort-up;
@include vf-p-icon-starred;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-error;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-in-progress;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-queued;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Site patterns
@import "pattern_font-tester";
@include design-p-font-tester;

.p-icon--canonical {
  @extend %social-icon;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D.cls-1,.cls-2%7Bstroke-width:0px;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ccircle cx='2.3' cy='7.15' r='2.17' class='cls-2'/%3E%3Ccircle cx='11.36' cy='2.39' r='2.17' class='cls-2'/%3E%3Cpath d='M7.2 12.75c-1.57-.34-2.87-1.34-3.61-2.75-.58.26-1.23.34-1.86.23.89 2.19 2.78 3.77 5.1 4.27.51.11 1.03.16 1.54.16-.4-.52-.62-1.16-.64-1.82-.18-.02-.36-.05-.53-.09Z' class='cls-2'/%3E%3Ccircle cx='10.87' cy='12.76' r='2.17' class='cls-2'/%3E%3Cpath d='M13.89 11.96c.68-.85 1.15-1.86 1.38-2.93.4-1.87.03-3.83-1.03-5.42-.25.59-.68 1.09-1.22 1.43.59 1.11.77 2.38.5 3.61-.13.6-.36 1.17-.68 1.68.51.42.87.98 1.04 1.62ZM2.13 4.04h.17c.22 0 .44.02.66.07.35.08.69.21.99.4.98-1.41 2.56-2.25 4.27-2.28 0-.16.03-.33.07-.49.1-.47.3-.9.59-1.27C6.15.25 3.49 1.66 2.14 4.05Z' class='cls-2'/%3E%3Cpath d='M0 0h16v16H0z' class='cls-1'/%3E%3C/svg%3E");
}

// RESOURCES PAGE
// These are the styles for the resources page
.resources__content-thumb {
  padding: 0.5rem;

  &.typeface {
    background-color: $color-light;
    height: min-content;
    padding: 1.5rem 0.625rem 0.625rem 0.625rem;
  }

  &.logo_thumb {
    margin-bottom: 0.5rem;
  }

  &.icons_thumb {
    background-color: $color-light;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));

    .icon__item {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.resources__dark_mode {
  background-color: $color-dark !important;
  color: $color-x-light;
}

.resources_logo {
  /* remove rounded corners from images to avoid distorting logos */
  border-radius: 0;
  height: 3rem;
}
