// settings
$font-allow-cyrillic-greek-latin: true;
$color-brand:         #e95420;
$color-aubergine:     #5e2750;
$color-accent-background: $color-aubergine;
$color-navigation-background: $color-brand;

// Import Vanilla framework
@import 'vanilla-framework/scss/build';

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Site patterns
@import "pattern_font-tester";
@include design-p-font-tester;

/* Hack to get the header link color white as dark is more accessible.
.p-navigation {
  @include vf-navigation-pattern(
    $background-color: $color-navigation-background,
    $border-color: transparent,
    $text-color: $color-light
  );

  .p-navigation__links .p-navigation__link {
    border-left: 1px solid $color-light;
  }

  .p-navigation__links:last-of-type {
    border-right: 1px solid $color-light;
  }
}
*/

// Remove the hard set image height
.p-card .p-card__header img {
  max-height: none;
}

// Hide the text in the social icon
.p-icon--twitter,
.p-icon--instagram,
.p-icon--canonical {
  text-indent: -10000px !important;
}

//XXX KW 2018-12-12 - temp fix for:
// https://github.com/vanilla-framework/vanilla-framework/issues/2080
.p-card__content {
  margin-top: 1rem;
}
