<div class="p-strip--light is-shallow">
  <div class="u-fixed-width">
    <nav class="p-breadcrumbs" aria-label="breadcrumbs">
      <ol class="p-breadcrumbs__items u-no-margin--bottom">
        <li class="p-breadcrumbs__item"><small><a href="/brand">Overview</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/canonical-logo">Canonical logo</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/ubuntu-partner-logos">Ubuntu partner logos</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/colour-palette">Colour palette</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/screenshots">Screenshots</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/photography-products">Product photography</a></small></li>
      </ol>
    </nav>
  </div>
</div>
