{% extends "_layouts/page.html" %}

{% block title %}Our brand values{% endblock %}

{% block content %}
<div class="p-strip--accent">
  <div class="row">
    <h1 class="p-heading--4">Canonical and Ubuntu</h1>
    <h2 class="p-heading--1">Our brand values</h2>
    <p>We believe everyone has the right to a great computing experience — and we also believe it should be free. Ubuntu is the result of a growing community, working together to provide just that. As such, the Ubuntu brand embodies four values:</p>
  </div>
</div>
<div class="p-strip">
  <div class="row">
    <div class="col-3">
      <h3>Freedom</h3>
      <p>Ubuntu celebrates freedom. Freedom to choose, to change, to participate.</p>
    </div>
    <div class="col-3">
      <h3>Reliable</h3>
      <p>You can depend on Ubuntu. Like the people who make it, it is trustworthy and keeps its promises.</p>
    </div>
    <div class="col-3">
      <h3>Precise</h3>
      <p>Ubuntu is crisp and clean in engineering and attitude. There is beauty in the precision of the process and product.</p>
    </div>
    <div class="col-3">
      <h3>Collaborative</h3>
      <p>Working together is at the heart of Ubuntu. It is the essence of ’humanity towards others‘.</p>
    </div>
  </div>
</div>
<div class="p-strip--light is-deep">
  <div class="row">
    <h3 class="p-heading--2">Our brand guidelines</h3>
    <p>Our values should be evident wherever Ubuntu is encountered, whether online or via traditional marketing material. If we follow these guidelines consistently, the brand will grow strong enough to attract people, encouraging them to look even more positively on the product itself.</p>
    <p>These guidelines provide everything you need to create professional communication materials that will build the Ubuntu brand. To help ensure the continued success of Ubuntu, please use them.</p>
  </div>
</div>
<div class="p-strip is-deep">
  <div class="row">
    <h2 class="p-heading--2">Brand assets</h2>
  </div>
  <div class="row u-equal-height" style="padding-top: 1rem">
    <div class="col-4 p-card">
      <div class="u-vertically-center u-align--center">
        <img
          style="min-height: 195px"
          class="p-card__image"
          src="https://assets.ubuntu.com/v1/ff6a9a38-ubuntu-logo-2022.svg"
          alt="Ubuntu logo"
          width="160"
        />
      </div>
      <div class="p-card__content">
        <h3><a href="/resources">Logos</a></h3>
        <p>The logo is the most recognisable feature of any brand identity. The
        Ubuntu logo is striking and clear, and it represents the brand’s core
        values.
        </p>
      </div>
    </div>
    <div class="col-4 p-card">
      <a
        href="/brand/colour-palette"
        ><img
          class="p-card__image"
          src="https://assets.ubuntu.com/v1/ebb3f015-colour-palette.svg"
          alt=""
      /></a>
      <div class="p-card__content">
        <h3><a href="/brand/colour-palette">Colour palette</a></h3>
        <p class="p-card__content">
          The vibrant Ubuntu colour palette was created and evolved to ensure
          that designs convey the correct meaning, while aligning to the brand
          colours.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
