
<footer class="global clearfix" role="contentinfo">
  <div class="legal clearfix">
    <p>
      &copy; 2017 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
      <a href="https://bugs.launchpad.net/ubuntu-brand-guidelines/+filebug" class="link-bug">Report a bug on this site</a>
    </p>
  </div>
</footer>

<script src="https://assets.ubuntu.com/v1/40d25181-yui-combined.min.js"></script>

<script>
if(!core){ var core = {}; }
core.globalPrepend = 'body';
</script>

<script src="/assets/js/core.js"></script>
<script src="https://assets.ubuntu.com/v1/94052790-global.js"></script>
<script src="https://assets.ubuntu.com/v1/ea5f3f25-scratch.js""></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scratch.js"></script>
<script type="text/javascript" src="/assets/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slider.js"></script>
<script type="text/javascript" src="/assets/js/base.js"></script>
