<header class="banner global" role="banner">
  <nav role="navigation" class="nav-primary nav-right">
    <div class="logo">
      <a class="logo-ubuntu" href="index.html">
        <img width="118" height="27" src="https://assets.ubuntu.com/v1/bcc17b1c-logo-ubuntu-orange.png" alt="Ubuntu logo for print" />
        <span>Design</span>
      </a>
    </div>
    <ul>
      <li><a href="/audiences/" class="first ">Audiences</a></li>
      <li><a href="/brand/">Brand</a></li>
      <li><a href="/web-style-guide/">Web</a></li>
      <li><a href="/apps/">Apps</a></li>
      <li><a href="/scopes/">Scopes</a></li>
      <li><a href="/examples/">Examples</a></li>
      <li><a href="/downloads/">Downloads</a></li>
    </ul>
    <form id="form-search" class="header-search" action="https://design.ubuntu.com/search" method="get">
      <label class="accessibility-aid" for="search">Search:</label>
      <input type="search" maxlength="255" name="search" id="search" class="form-text" placeholder="Search" value="" />
      <button type="submit" name="submit"><img src="https://assets.ubuntu.com/v1/2196e362-search-white.svg" alt="Search" height="28" /></button>
    </form>
  </nav>
</header><!-- /# end header -->
