{% include google-tag-manager.html %}

<a href="#main-content" class="p-link--skip">Jump to main content</a>

<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="">
          </div>
          <span class="p-navigation__logo-title">Design</span>
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    {% assign current = page.url | split: '/'  %}
    <nav class="p-navigation__nav">
      <ul class="p-navigation__items">
        <li class="p-navigation__item {% if current[1] == 'brand' %}is-selected{% endif %}"><a class="p-navigation__link " href="/brand/">Brand</a></li>
        <li class="p-navigation__item {% if current[1] == 'font' %}is-selected{% endif %}"><a class="p-navigation__link" href="/font/">Font</a></li>
        <li class="p-navigation__item {% if current[1] == 'web' %}is-selected{% endif %}"><a class="p-navigation__link" href="/web/">Web</a></li>
        <li class="p-navigation__item {% if current[1] == 'downloads' %}is-selected{% endif %}"><a class="p-navigation__link" href="/downloads/">Downloads</a></li>
      </ul>
    </nav>
  </div>
</header>
