    <div class="p-navigation--sidebar p-sidebar-nav">
      <div class="sidebar__content js-sidebar-toggle u-hide" aria-hidden="true">
        <!-- <select name="exampleSelect" id="exampleSelect">
          <option value="" disabled="disabled" selected="">Select a version</option>
          <option value="1">Version 1</option>
          <option value="2">Version 2</option>
          <option value="3">Version 3</option>
        </select> -->
        <ul class="p-sidebar-nav__list">
          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Welcome</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/">Get started</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Basics</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/environment.html">Environment <!-- <i class="p-icon--plus"></i><i class="p-icon--minus"></i> --></a>
                <ul class="p-sidebar-nav__item-deep">
                  <li><a class="p-sidebar-nav__item" href="/cloud/basics/surfaces.html">Surfaces</a></li>
                  <li><a class="p-sidebar-nav__item" href="/cloud/basics/ui-contrast.html">UI contrast</a></li>
                  <li><a class="p-sidebar-nav__item" href="/cloud/basics/z-index.html">Z-index</a></li>
                </ul>
              </li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/layout.html">Layout <!-- <i class="p-icon--plus"></i><i class="p-icon--minus"></i> --></a>
                <ul class="p-sidebar-nav__item-deep">
                  <li><a class="p-sidebar-nav__item" href="/cloud/basics/grid.html">Grid</a></li>
                  <li><a class="p-sidebar-nav__item" href="/cloud/basics/white-space.html">White space</a></li>
                </ul>
              </li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/type-hierarchy.html">Type hierarchy <!-- <i class="p-icon--plus"></i><i class="p-icon--minus"></i> --></a>
                <ul class="p-sidebar-nav__item-deep">
                  <li><a class="p-sidebar-nav__item" href="/cloud/basics/h3-to-p.html">H3 to p</a></li>
                </ul>
              </li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/user-feedback.html">User feedback</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/colour.html">Colour</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Navigation</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/navigation/navigation.html">Navigation</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Page structure</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/page-structure/cards.html">Cards</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/page-structure/notifications.html">Notifications</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Text</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/text/text.html">Text</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Tables</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/tables/tables.html">Tables</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Interactive elements</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/actions-menu.html">Actions menu</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/buttons.html">Buttons</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/editing.html">Editing</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/forms.html">Forms</a></li>
            </ul>
          </li>
        </ul>

        <ul class="p-list">
          <li><a class="p-link--external sidebar__link" href="https://vanillaframework.io/">Vanilla framework</a></li>
          <li><a class="p-link--external sidebar__link" href="https://docs.vanillaframework.io/en/">Vanilla documentation</a></li>
        </ul>
      </div>
    </div>
