<div class="p-strip--light is-shallow">
  <div class="u-fixed-width">
    <nav class="p-breadcrumbs" aria-label="breadcrumbs">
      <ol class="p-breadcrumbs__items u-no-margin--bottom">
        <li class="p-breadcrumbs__item"><small><a href="/brand" {% if page.title==" Brand" %}class="is-active" {% endif %}>Overview</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/ubuntu-logo" {% if page.title=="Ubuntu logo" %}class="is-active" {% endif %}>Ubuntu logo</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/canonical-logo" {% if page.title=="Canonical logo" %}class="is-active" {% endif %}>Canonical logo</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/ubuntu-partner-logos" {% if page.title=="Ubuntu partner logos" %}class="is-active" {% endif %}>Ubuntu partner logos</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/colour-palette" {% if page.title=="Colour palette" %}class="is-active" {% endif %}>Colour palette</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/screenshots" {% if page.title=="Screenshots" %}class="is-active" {% endif %}>Screenshots</a></small></li>
        <li class="p-breadcrumbs__item"><small><a href="/brand/photography-products" {% if page.title=="Photography: products" %}class="is-active" {% endif %}>Product photography</a></small></li>
      </ol>
    </nav>
  </div>
</div>
