    <div class="p-navigation--sidebar p-sidebar-nav">
      <div class="sidebar__content js-sidebar-toggle u-hide" aria-hidden="true">
        <!-- <select name="exampleSelect" id="exampleSelect">
          <option value="" disabled="disabled" selected="">Select a version</option>
          <option value="1">Version 1</option>
          <option value="2">Version 2</option>
          <option value="3">Version 3</option>
        </select> -->
        <ul class="p-sidebar-nav__list">
          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Welcome</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/">Get started</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Basics</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/colour.html">Colour</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/surfaces.html">Surfaces</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/ui-contrast.html">UI contrast</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/basics/depth.html">Depth</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Global layout</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/global-layout/grid.html">Grid</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/global-layout/white-space.html">White space</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Navigation</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/navigation/global-navigation.html">Global navigation</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/navigation/footer.html">footer</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/navigation/tabs.html">tabs</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Interactive elements</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/actions-menu.html">Actions menu</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/buttons.html">Buttons</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/editing.html">Editing</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/forms.html">Forms</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/interactive-elements/links.html">Links</a></li>
            </ul>
          </li><br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Page structure</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/page-structure/cards.html">Cards</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Typography</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/typography/heading-sizes.html">Heading sizes</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Tables</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/tables/table.html">Table</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/tables/table-expanding.html">Table expanding</a></li>
            </ul>
          </li>
          <br>

          <li class="p-sidebar-nav__item"><span class="p-sidebar-title">Images and media</span>
            <ul class="p-sidebar-nav__list">
              <li><a class="p-sidebar-nav__item" href="/cloud/images-and-media/animations.html">Animations</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/images-and-media/icons.html">Icons</a></li>
              <li><a class="p-sidebar-nav__item" href="/cloud/images-and-media/images.html">Images</a></li>
            </ul>
          </li>
        </ul>

        <ul class="p-list">
          <li><a class="p-link--external sidebar__link" href="https://vanillaframework.io/">Vanilla framework</a></li>
          <li><a class="p-link--external sidebar__link" href="https://docs.vanillaframework.io/en/">Vanilla documentation</a></li>
        </ul>
      </div>
    </div>
