<div class="filter">
  <div id="accordion">
    <h3><a href="#">Brand assets</a></h3>
    <div>
      <ul>
        <li {% if page.title == "Brand" %}class="current_page_item"{% endif %}><a href="/brand">Overview</a></li>
        <li {% if page.title == "Ubuntu logo" %}class="current_page_item"{% endif %}><a href="/brand/ubuntu-logo">Ubuntu logo</a></li>
        <li {% if page.title == "Ubuntu partner logos" %}class="current_page_item"{% endif %}><a href="/brand/ubuntu-partner-logos">Ubuntu partner logos</a></li>
        <li {% if page.title == "Canonical logo" %}class="current_page_item"{% endif %}><a href="/brand/canonical-logo">Canonical logo</a></li>
        <li {% if page.title == "Colour palette" %}class="current_page_item"{% endif %}><a href="/brand/colour-palette">Colour palette</a></li>
        <li {% if page.title == "Ubuntu font family" %}class="current_page_item"{% endif %}><a href="/brand/ubuntu-font-family">Ubuntu font family</a></li>
        <li {% if page.title == "Pictograms" %}class="current_page_item"{% endif %}><a href="/brand/pictograms">Pictograms</a></li>
        <li {% if page.title == "Dot patterns" %}class="current_page_item"{% endif %}><a href="/brand/dot-patterns">Dot patterns</a></li>
        <li {% if page.title == "Photography" %}class="current_page_item"{% endif %}><a href="/brand/photography">Photography</a></li>
        <li {% if page.title == "Photography: products" %}class="current_page_item"{% endif %}><a href="/brand/photography-products">Photography: products</a></li>
        <li {% if page.title == "Screenshots" %}class="current_page_item"{% endif %}><a href="/brand/screenshots">Screenshots</a></li>
        <li {% if page.title == "Illustration" %}class="current_page_item"{% endif %}><a href="/brand/illustration">Illustration</a></li>
        <li {% if page.title == "Text" %}class="current_page_item"{% endif %}><a href="/brand/text">Text</a></li>
      </ul>
    </div>
  </div>
</div><!-- /.filter -->
