<div class="col-4 p-card p-side-nav">
  <ul class="p-list--divided p-side-nav__list">
    <li class="p-list__item{% if page.title == "Brand" %} current_page_item{% endif %}"><a href="/brand">Overview</a></li>
    <li class="p-list__item{% if page.title == "Ubuntu logo" %} current_page_item{% endif %}"><a href="/brand/ubuntu-logo">Ubuntu logo</a></li>
    <li class="p-list__item{% if page.title == "Canonical logo" %} current_page_item{% endif %}"><a href="/brand/canonical-logo">Canonical logo</a></li>
    <li class="p-list__item{% if page.title == "Ubuntu partner logos" %} current_page_item{% endif %}"><a href="/brand/ubuntu-partner-logos">Ubuntu partner logos</a></li>
    <li class="p-list__item{% if page.title == "Colour palette" %} current_page_item{% endif %}"><a href="/brand/colour-palette">Colour palette</a></li>
    <li class="p-list__item{% if page.title == "Pictograms" %} current_page_item{% endif %}"><a href="/brand/pictograms">Pictograms</a></li>
    <li class="p-list__item{% if page.title == "Screenshots" %} current_page_item{% endif %}"><a href="/brand/screenshots">Screenshots</a></li>
    <li class="p-list__item{% if page.title == "Photography: products" %} current_page_item{% endif %}"><a href="/brand/photography-products">Product photography</a></li>
  </ul>
</div>
