
<ul class="p-inline-list">
    <li class="p-inline-list__item href="/font/">Ubuntu font</li>
    <li class="p-inline-list__item{% if page.title == "Ubuntu font" %} active{% endif %}"><a href="/font/">Overview</a></li>
    <li class="p-inline-list__item{% if page.title == "Font gallery" %} active{% endif %}"><a href="/font/gallery/">Font gallery</a></li>
    <li class="p-inline-list__item{% if page.title == "About the Ubuntu font" %} active{% endif %}"><a href="/font/about/">About the Ubuntu font</a></li>
    <li class="p-inline-list__item{% if page.title == "Ubuntu font licence" %} active{% endif %}"><a href="/font/licence">Ubuntu font licence</a></li>
</ul>
