<div class="col-3">
  <span class="filter-toggle">Filter by</span>
  <div class="filter">
    <h2>Filters</h2>
    <form id="form-filter-search" action="downloads" method="get" class="hidden">
      <h3>Filter by:</h3>
      <fieldset >
        <input type="text" name="search" value="" />
        <input type="submit" name="submit" value="" />
      </fieldset>
    </form>
    <div id="accordion">
      <h3><a href="downloads#" class="slideless">Element</a></h3>
      <div>
        <fieldset>
          <input id="element-charts" type="checkbox" />
          <label for="element-charts">Charts and diagrams</label><br/>
          <input id="element-color" type="checkbox" />
          <label for="element-color">Colour</label><br/>
          <input id="element-grid" type="checkbox" />
          <label for="element-grid">Grid</label><br/>
          <input id="element-logo" type="checkbox" />
          <label for="element-logo">Logo</label><br/>
          <input id="element-pattern" type="checkbox" />
          <label for="element-pattern">Pattern</label><br/>
          <input id="element-pictorgram" type="checkbox" />
          <label for="element-pictorgram">Pictogram</label><br/>
          <input id="element-presentation" type="checkbox" />
          <label for="element-presentation">Presentation</label><br/>
          <input id="element-product-photography" type="checkbox" />
          <label for="element-product-photography">Product photography</label><br/>
          <input id="element-screenshot" type="checkbox" />
          <label for="element-screenshot">Screenshot</label><br/>
          <input id="element-tone" type="checkbox" />
          <label for="element-tone">Tone of voice</label><br/>
          <input id="element-typography" type="checkbox" />
          <label for="element-typography">Typography</label><br/>
        </fieldset>
      </div>

      <h3><a href="downloads#" class="slideless">Brand</a></h3>
      <div>
        <fieldset>
          <input id="brand-ubuntu" type="checkbox" />
          <label for="brand-ubuntu">Ubuntu</label><br/>
          <input id="brand-canonical" type="checkbox" />
          <label for="brand-canonical">Canonical</label>
        </fieldset>
      </div>

      <h3><a href="downloads#" class="slideless">Channel</a></h3>
      <div>
        <fieldset>
          <input id="channel-general" type="checkbox" />
          <label for="channel-general">General</label><br/>
          <input id="channel-platform" type="checkbox" />
          <label for="channel-platform">Platform</label><br/>
          <input id="channel-print" type="checkbox" />
          <label for="channel-print">Print</label><br/>
          <input id="channel-web" type="checkbox" />
          <label for="channel-web">Web</label>
        </fieldset>
      </div>

      <h3><a href="downloads#" class="slideless">Product</a></h3>
      <div>
        <fieldset>
          <input id="product-ubuntu-desktop" type="checkbox" />
          <label for="product-ubuntu-desktop">Ubuntu Desktop</label><br/>
          <input id="product-ubuntu-cloud" type="checkbox" />
          <label for="product-ubuntu-cloud">Ubuntu Cloud</label><br/>
          <input id="product-ubuntu-server" type="checkbox" />
          <label for="product-ubuntu-server">Ubuntu Server</label><br/>
          <input id="product-ubuntu-advantage" type="checkbox" />
          <label for="product-ubuntu-advantage">Ubuntu Advantage</label><br/>
          <input id="product-juju" type="checkbox" />
          <label for="product-juju">Juju</label><br/>
          <input id="product-maas" type="checkbox" />
          <label for="product-maas">MAAS</label><br/>
          <input id="product-landscape" type="checkbox" />
          <label for="product-landscape">Landscape</label><br/>
          <input id="product-iot" type="checkbox" />
          <label for="product-iot">IoT</label><br/>
          <input id="product-vanilla" type="checkbox" />
          <label for="product-vanilla">Vanilla</label><br/>
        </fieldset>
      </div>

    </div>
  </div>
</div>
