<nav role="navigation" class="nav-secondary clearfix">
  <ul class="breadcrumb">
    <li {% if page.title == "Introducing scopes" %}class="active"{% endif %}><a href="/scopes/">Introducing scopes</a> &rsaquo;</li>
  </ul>
  <ul class="second-level-nav">
    <li {% if page.title == "Core scopes" %}class="current_page_item"{% endif %}><a href="/scopes/core-scopes">Core scopes</a></li>
    <li {% if page.title == "Navigation" %}class="current_page_item"{% endif %}><a href="/scopes/navigation">Navigation</a></li>
    <li {% if page.title == "Customization and branding" %}class="current_page_item"{% endif %}><a href="/scopes/customization-and-branding">Customization and branding</a></li>
    <li {% if page.title == "Components" %}class="current_page_item"{% endif %}><a href="/scopes/components">Components</a></li>
  </ul>
</nav>
