

<ul class="p-inline-list">
    <li class="p-inline-list__item href="/scopes/">Scopes</li>
    <li class="p-inline-list__item{% if page.title == "Scopes" %} active{% endif %}"><a href="/scopes/">Overview</a></li>
    <li class="p-inline-list__item{% if page.title == "Core scopes" %} active{% endif %}"><a href="/scopes/core-scopes">Core scopes</a></li>
    <li class="p-inline-list__item{% if page.title == "Navigation" %} active{% endif %}"><a href="/scopes/navigation">Navigation</a></li>
    <li class="p-inline-list__item{% if page.title == "Customization and branding" %} active{% endif %}"><a href="/scopes/customization-and-branding">Customization and branding</a></li>
    <li class="p-inline-list__item{% if page.title == "Components" %} active{% endif %}"><a href="/scopes/components">Components</a></li>
</ul>
