<span class="filter-toggle">Filter by</span>
<div class="filter">
  <h2>Filters</h2>
  <form id="form-filter-search" action="downloads" method="get" class="hidden">
    <h3>Filter by:</h3>
    <fieldset >
      <input type="text" name="search" value="" />
      <input type="submit" name="submit" value="" />
    </fieldset>
  </form>
  <div id="accordion">
    <h3><a href="downloads#">Anchor points</a></h3>
    <div>
      <h4>Voice</h4>
      <input id="voice-community" type="checkbox" />
      <label for="voice-community">Community</label><br/>
      <input id="voice-canonical" type="checkbox" />
      <label for="voice-canonical">Canonical</label><br/>

      <h4>Audience</h4>
      <input id="audience-consumer" type="checkbox" />
      <label for="audience-consumer">Consumer</label><br/>
      <input id="audience-enterprise" type="checkbox" />
      <label for="audience-enterprise">Enterprise</label><br/>

      <h4>Developer</h4>
      <input id="developer-user" type="checkbox" />
      <label for="developer-user">User</label><br/>
      <input id="developer-developer" type="checkbox" />
      <label for="developer-developer">Developer</label><br/>
    </div>

    <h3><a href="downloads#" class="slideless">Element</a></h3>
    <div>
      <fieldset>
        <input id="element-logo" type="checkbox" />
        <label for="element-logo">Logo</label><br/>
        <input id="element-font" type="checkbox" />
        <label for="element-font">Font</label><br/>
        <input id="element-colour" type="checkbox" />
        <label for="element-colour">Colour</label><br/>
        <input id="element-pictogram" type="checkbox" />
        <label for="element-pictogram">Pictogram</label><br/>
        <input id="element-dots" type="checkbox" />
        <label for="element-dots">Dots</label><br/>
        <input id="element-extension" type="checkbox" />
        <label for="element-extension">Brand extension</label><br/>
        <input id="element-photography" type="checkbox" />
        <label for="element-photography">Photography</label><br/>
        <input id="element-illustration" type="checkbox" />
        <label for="element-illustration">Illustration</label><br/>
        <input id="element-presentation" type="checkbox" />
        <label for="element-presentation">Presentation</label><br/>
        <input id="element-voice" type="checkbox" />
        <label for="element-voice">Tone of voice</label><br/>
        <input id="element-bubble" type="checkbox" />
        <label for="element-bubble">Quote bubble</label><br/>
        <input id="element-form" type="checkbox" />
        <label for="element-form">Web form</label><br/>
        <input id="element-shadow" type="checkbox" />
        <label for="element-shadow">Web drop shadows</label><br/>
        <input id="element-corner" type="checkbox" />
        <label for="element-corner">Web rounded corners</label><br/>
      </fieldset>
    </div>

    <h3><a href="downloads#" class="slideless">Colour</a></h3>
    <div>
      <fieldset>
        <input id="colour-orange" type="checkbox" />
        <label for="colour-orange">Orange</label><br/>
        <input id="colour-aubergine" type="checkbox" />
        <label for="colour-aubergine">Aubergine</label><br/>
        <input id="colour-black" type="checkbox" />
        <label for="colour-black">Black</label><br/>
        <input id="colour-white" type="checkbox" />
        <label for="colour-white">White</label>
      </fieldset>
    </div>

    <h3><a href="downloads#" class="slideless">Brand</a></h3>
    <div>
      <fieldset>
        <input id="brand-ubuntu" type="checkbox" />
        <label for="brand-ubuntu">Ubuntu</label><br/>
        <input id="brand-canonical" type="checkbox" />
        <label for="brand-canonical">Canonical</label>
      </fieldset>
    </div>

    <h3><a href="downloads#" class="slideless">Channel</a></h3>
    <div>
      <fieldset>
        <input id="channel-general" type="checkbox" />
        <label for="channel-general">General</label><br/>
        <input id="channel-desktop" type="checkbox" />
        <label for="channel-desktop">Desktop</label><br/>
        <input id="channel-print" type="checkbox" />
        <label for="channel-print">Print</label><br/>
        <input id="channel-web" type="checkbox" />
        <label for="channel-web">Web</label>
      </fieldset>
    </div>

    <h3><a href="downloads#" class="slideless">Product</a></h3>
    <div>
      <fieldset>
        <input id="product-ubuntu" type="checkbox" />
        <label for="product-ubuntu">Ubuntu</label><br/>
        <input id="product-one" type="checkbox" />
        <label for="product-one">Ubuntu One</label><br/>
        <input id="product-cloud" type="checkbox" />
        <label for="product-cloud">Cloud</label><br/>
        <input id="product-server" type="checkbox" />
        <label for="product-server">Server</label>
      </fieldset>
    </div>

  </div><!-- /#accordion -->
</div><!-- /.filter -->   
