<div class="col-3">
  <span class="filter-toggle">Filter by</span>
  <div class="filter">
    <h2>Filters</h2>
    <form id="form-filter-search" action="downloads" method="get" class="hidden">
      <h3>Filter by:</h3>
      <fieldset>
        <input type="text" name="search" value="" />
        <input type="submit" name="submit" value="" />
      </fieldset>
    </form>

    <aside class="p-accordion" role="tablist" aria-multiselect="true">
      <ul class="p-accordion__list">
        <li class="p-accordion__group">
          <button class="p-accordion__tab" id="element-tab" role="tab" aria-controls="#element" aria-expanded="true">Element</button>
          <section class="p-accordion__panel" id="element" role="tabpanel" aria-hidden="false" aria-labelledby="element-tab">
            <p>
                <input id="element-charts" type="checkbox" />
                <label for="element-charts">Charts and diagrams</label><br/>
                <input id="element-color" type="checkbox" />
                <label for="element-color">Colour</label><br/>
                <input id="element-grid" type="checkbox" />
                <label for="element-grid">Grid</label><br/>
                <input id="element-logo" type="checkbox" />
                <label for="element-logo">Logo</label><br/>
                <input id="element-pattern" type="checkbox" />
                <label for="element-pattern">Pattern</label><br/>
                <input id="element-pictorgram" type="checkbox" />
                <label for="element-pictorgram">Pictogram</label><br/>
                <input id="element-presentation" type="checkbox" />
                <label for="element-presentation">Presentation</label><br/>
                <input id="element-product-photography" type="checkbox" />
                <label for="element-product-photography">Product photography</label><br/>
                <input id="element-screenshot" type="checkbox" />
                <label for="element-screenshot">Screenshot</label><br/>
                <input id="element-tone" type="checkbox" />
                <label for="element-tone">Tone of voice</label><br/>
                <input id="element-typography" type="checkbox" />
                <label for="element-typography">Typography</label><br/>
            </p>
          </section>
        </li>
        <li class="p-accordion__group">
          <button class="p-accordion__tab" id="brand-tab" role="tab" aria-controls="#brand" aria-expanded="false">Brand</button>
          <section class="p-accordion__panel" id="brand" role="tabpanel" aria-hidden="true" aria-labelledby="brand-tab">
            <p>
                <input id="brand-ubuntu" type="checkbox" />
                <label for="brand-ubuntu">Ubuntu</label><br/>
                <input id="brand-canonical" type="checkbox" />
                <label for="brand-canonical">Canonical</label>
            </p>
          </section>
        </li>
        <li class="p-accordion__group">
          <button class="p-accordion__tab" id="channel-tab" role="tab" aria-controls="#channel" aria-expanded="false">Channel</button>
          <section class="p-accordion__panel" id="channel" role="tabpanel" aria-hidden="true" aria-labelledby="channel-tab">
            <p>
                <input id="channel-general" type="checkbox" />
                <label for="channel-general">General</label><br/>
                <input id="channel-platform" type="checkbox" />
                <label for="channel-platform">Platform</label><br/>
                <input id="channel-print" type="checkbox" />
                <label for="channel-print">Print</label><br/>
                <input id="channel-web" type="checkbox" />
                <label for="channel-web">Web</label>
            </p>
          </section>
        </li>
        <li class="p-accordion__group">
          <button class="p-accordion__tab" id="product-tab" role="tab" aria-controls="#product" aria-expanded="false">Product</button>
          <section class="p-accordion__panel" id="product" role="tabpanel" aria-hidden="true" aria-labelledby="product-tab">
            <p>
                <input id="product-ubuntu-desktop" type="checkbox" />
                <label for="product-ubuntu-desktop">Ubuntu Desktop</label><br/>
                <input id="product-ubuntu-cloud" type="checkbox" />
                <label for="product-ubuntu-cloud">Ubuntu Cloud</label><br/>
                <input id="product-ubuntu-server" type="checkbox" />
                <label for="product-ubuntu-server">Ubuntu Server</label><br/>
                <input id="product-ubuntu-advantage" type="checkbox" />
                <label for="product-ubuntu-advantage">Ubuntu Advantage</label><br/>
                <input id="product-juju" type="checkbox" />
                <label for="product-juju">Juju</label><br/>
                <input id="product-maas" type="checkbox" />
                <label for="product-maas">MAAS</label><br/>
                <input id="product-landscape" type="checkbox" />
                <label for="product-landscape">Landscape</label><br/>
                <input id="product-iot" type="checkbox" />
                <label for="product-iot">IoT</label><br/>
                <input id="product-vanilla" type="checkbox" />
                <label for="product-vanilla">Vanilla</label><br/>
            </p>
          </section>
        </li>
      </ul>
    </aside>
  </div>
</div>
