<ul class="p-breadcrumbs">
  <li class="p-breadcrumbs__item" href="/web-style-guide/">Web Style Guide</li>
  <li class="p-breadcrumbs__item{% if page.url == "/web-style-guide/" %} active{% endif %}"><a href="/web-style-guide/">Overview</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "Scaffolding" %} active{% endif %}"><a href="/web-style-guide/scaffolding">Scaffolding</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "Typography" %} active{% endif %}"><a href="/web-style-guide/typography">Typography</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "Forms" %} active{% endif %}"><a href="/web-style-guide/forms">Forms</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "Tables" %} active{% endif %}"><a href="/web-style-guide/tables">Tables</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "Media" %} active{% endif %}"><a href="/web-style-guide/media">Media</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "Components" %} active{% endif %}"><a href="/web-style-guide/components">Components</a></li>
  <li class="p-breadcrumbs__item{% if page.title == "JavaScript" %} active{% endif %}"><a href="/web-style-guide/javascript">JavaScript</a></li>
</ul>
