<span class="filter-toggle">App Design Guides</span>
<div class="filter">
  <div id="accordion">
    <h3><a href="#">Get started</a></h3>
    <div>
      <ul>
        <li {% if page.overview_for == "Get started" %}class="current_page_item"{% endif %}><a href="/apps/get-started/">Overview</a></li>
        <li {% if page.title == "Convergence" %}class="current_page_item"{% endif %}><a href="/apps/get-started/convergence">Convergence</a></li>
        <li {% if page.title == "Design philosophy" %}class="current_page_item"{% endif %}><a href="/apps/get-started/design-philosophy">Design philosophy</a></li>
        <li {% if page.title == "Design values" %}class="current_page_item"{% endif %}><a href="/apps/get-started/design-values">Design values</a></li>
        <li {% if page.title == "Why design for Ubuntu?" %}class="current_page_item"{% endif %}><a href="/apps/get-started/why-design-for-ubuntu">Why design for Ubuntu?</a></li>
        <li {% if page.title == "Design scopes" %}class="current_page_item"{% endif %}><a href="/apps/get-started/design-scopes">Design scopes</a></li>
        <li {% if page.title == "Make it Ubuntu" %}class="current_page_item"{% endif %}><a href="/apps/get-started/make-it-ubuntu">Make it Ubuntu</a></li>
      </ul>
    </div>
    <h3><a href="#">Patterns</a></h3>
    <div>
      <ul>
        <li {% if page.overview_for == "Patterns" %}class="current_page_item"{% endif %}><a href="/apps/patterns/">Overview</a></li>
        <li {% if page.title == "Layouts" %}class="current_page_item"{% endif %}><a href="/apps/patterns/layouts">Layouts</a></li>
        <li {% if page.title == "Gestures" %}class="current_page_item"{% endif %}><a href="/apps/patterns/gestures">Gestures</a></li>
        <li {% if page.title == "Navigation" %}class="current_page_item"{% endif %}><a href="/apps/patterns/navigation">Navigation</a></li>
      </ul>
    </div>
    <h3><a href="#">Building blocks</a></h3>
    <div>
      <ul>
        <li {% if page.overview_for == "Building blocks" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/">Overview</a></li>
        <li {% if page.title == "Header" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/header">Header</a></li>
        <li {% if page.title == "Bottom edge" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/bottom-edge">Bottom edge</a></li>
        <li {% if page.title == "List items" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/list-items">List items</a></li>
        <li {% if page.title == "Context menus" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/context-menus">Context menus</a></li>
        <li {% if page.title == "Selection controls" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/selection-controls">Selection controls</a></li>
        <li {% if page.title == "Scrolling" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/scrolling">Scrolling</a></li>
        <li {% if page.title == "Activity indicators" %}class="current_page_item"{% endif %}><a href="/apps/building-blocks/activity-indicators">Activity indicators</a></li>
      </ul>
    </div>
  </div>
</div>
