#tester {
  margin-bottom: 20px;
  padding: 20px;

  h1 {
    font-size: 48px;
    line-height: 1.2;
    height: 220px;
    overflow: hidden;

    span {
      margin-bottom: 20px;
      display: block;
    }
  }

  &-controls {
    padding: 20px;
    display: inline;

    select {
      font-size: .85rem;
      padding-right: 2rem;
      width: auto;
    }

    input[type='text'] {
      margin-bottom: 15px;
      border: 3px solid #ccc;
      width: 100%;
    }

    label {
      display: inline;
      font-size: .85rem;
      margin: 0 5px;
    }
  }
}


.charset {
  padding: 20px 20px 0 20px;
  background-color: #f7f7f7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  a {
    margin-top: 10px;
    padding-bottom: 5px;
    display: block;
    text-align: right;
    border-bottom: 1px dotted #aea79f;
  }

  p {
    margin-bottom: 0;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 48px;
    line-height: 1.2;
  }

  &-light p {
    font-weight: 300;
  }

  &-regular p {
    font-weight: normal;
  }

  &-medium p {
    font-weight: 500;
  }

  &-bold p {
    font-weight: 700;
  }

  &-italic p {
    font-style: italic;
  }

  &-condensed p {
    font-family: 'Ubuntu Condensed';
  }

  &-monospace p {
    font-family: 'Ubuntu Mono';
    line-height: 0.6em; /* should be 1.0 but this balanced the 1.4em at the top level */
  }
}

.samples > div {
  border: 1px solid $color-brand;
  font-size: 10rem;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.not-for-small {
  @media only screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}
