@mixin design-p-font-tester {
  .font-tester {
    &__demo {
      background-color: transparent;
      height: 300px;
      margin: $sp-xx-large 0;
      overflow: hidden;
      width: 100%;
    }

    &__title {
      display: inline-block;
      margin: 0 1rem 1rem 0;
      width: 5rem;
    }

    &__option[data-selected="16"] ~ &__demo { font-size: 16px;}
    &__option[data-selected="21"] ~ &__demo { font-size: 21px;}
    &__option[data-selected="24"] ~ &__demo { font-size: 24px;}
    &__option[data-selected="36"] ~ &__demo { font-size: 36px;}
    &__option[data-selected="48"] ~ &__demo { font-size: 48px;}

    &__option[data-selected="light"] ~ &__demo { font-weight: 300;}
    &__option[data-selected="regular"] ~ &__demo { font-weight: 400; }
    &__option[data-selected="medium"] ~ &__demo { font-weight: 500; }
    &__option[data-selected="bold"] ~ &__demo { font-weight: 700; }

    &__option[data-selected="normal"] ~ &__demo { font-style: normal; }
    &__option[data-selected="italic"] ~ &__demo { font-style: italic; }

    &__option[data-selected="ubuntu"] ~ &__demo { font-family: 'Ubuntu'; }
    &__option[data-selected="condensed"] ~ &__demo { font-family: 'Ubuntu Condensed'; }
    &__option[data-selected="monospace"] ~ &__demo { font-family: 'Ubuntu Mono'; }

    &__option[data-selected="black"] ~ &__demo { color: $color-dark; }
    &__option[data-selected="aubergine"] ~ &__demo { color: $color-aubergine; }
    &__option[data-selected="orange"] ~ &__demo { color: $color-brand; }
  }
}
