@mixin design-p-social-icon {

  %p-social-icon {
    background-image: url('#{$assets-path}e1c22739-design-ubuntu-social-sprite.svg');
    background-repeat: no-repeat;
    background-size: 269px;
    display: inline-block;
    height: 45px;
    overflow: hidden;
    text-indent: -99999px;
    width: 45px;

    &:hover {
      background-position-y: -45px;
    }
  }

  .p-social-icon--twitter {
    @extend %p-social-icon;
    background-position: 0 0;
  }

  .p-social-icon--google-plus {
    @extend %p-social-icon;
    background-position: -45px 0;
  }

  .p-social-icon--facebook {
    @extend %p-social-icon;
    background-position: -90px 0;
  }

  .p-social-icon--canonical {
    @extend %p-social-icon;
    background-position: -135px 0;
  }

  .p-social-icon--instagram {
    @extend %p-social-icon;
    background-position: -180px 0;
  }

  .p-social-icon--youtube {
    @extend %p-social-icon;
    background-position: -225px 0;
  }
}
