@mixin design-p-frame {
  .p-frame {

    &__heading,
    &__heading:visited {
      color: $color-dark;
    }

    &__wrapper {
      background-color: $color-light;
      min-height: 220px;
    }
  }
}
