// Ubuntu Brand Guidelines base stylesheet
//
// A bespoke stylesheet containing site-wide styles
//
// @project Ubuntu Brand Guidelines
// @version 2.0
// @author Canonical Web Team
// @copyright 2013 Canonical Ltd.



// Tint Styles
.swatch {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 4.9%;
  padding: 0;
  width: 45%;
}

.swatch li {
  line-height: 40px;
  margin: 0;
  min-height: 40px;
  padding: 5px 10px;
}

.swatch .light {
  color: $color-x-light;
}

.swatch .hex-color {
  float: right;
}

