/**
* Ubuntu Brand Guidelines base stylesheet
*
* A bespoke stylesheet containing site-wide styles
*
* @project Ubuntu Brand Guidelines
* @version 2.0
* @author Canonical Web Team
* @copyright 2013 Canonical Ltd.
*/

/*
 * Tint Styles
 */
.swatch {
    display: block;
    float: left;

    width: 45%;
    margin: 0;
    margin-right: 4.9%;
    margin-bottom: 20px;
    padding: 0;

    list-style-type: none;
}
.swatch li {
    line-height: 40px;

    min-height: 40px;
    margin: 0;
    padding: 5px 10px;
}
.swatch .light {
    color: #fff;
}
.swatch .hex-color {
    float: right;
}

/* Link top */

.link-top a {
    margin-top: -35px;
}
