// settings
$font-allow-cyrillic-greek-latin: true;
$color-brand:         #E95420;
$color-aubergine:     #5e2750;
$color-accent-background: #5e2750;

// Run the vanilla framework
@import 'node_modules/vanilla-framework/scss/build';

@import "_pattern_frame";
@import "_pattern_side-nav";
@import "_patterns-font-tester";

// Ubuntu thin font - XXX remove when added to vanilla
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: url('#{$assets-path}7f100985-Ubuntu-Th_W.woff2') format('woff2'), url('#{$assets-path}502cc3a1-Ubuntu-Th_W.woff') format('woff');
}


// Site patterns
@include design-p-font-tester;
@include design-p-frame;
@include design-p-side-nav;

@mixin button-brand {
  .p-button--brand {
    @include button-pattern (
      $button-background-color: $color-brand,
      $button-border-color: $color-brand,
      $button-text-color: $color-x-light,
      $button-hover-background-color: darken($color-brand, 10%),
      $button-hover-border-color: darken($color-brand, 10%),
      $button-disabled-background-color: $color-brand,
      $button-disabled-border-color: $color-brand
    );
  }
}

.p-navigation {
  background-color: $color-brand;
  margin-bottom: 0;
  font-weight: 400;

  @media (max-width: $breakpoint-medium) {
    font-weight: 300;
    border-bottom: 1px solid $color-light;
  }

  &__logo {
    margin: $sp-x-small;
    float: left;
  }
}

/* breadcrumb fix */
.p-breadcrumbs {
  margin: 2rem 0;

  &__item {
    font-size: 15px;

    > .is-active {
      color: $color-brand;
    }
  }
}

/* back to top links */
.link-top {
  clear: both;
  margin: 40px 0 0 0;
  text-align: right;
  border-top: 1px dotted #ccc;
}

/* made inline list work like a secondary menu */
.p-inline-list__item {
  position: relative;

  &:first-child:after {
    color: $color-dark;
    content: '›';
    font-size: 1.4rem;
    line-height: 0;
    position: absolute;
    right: -1rem;
    top: .55rem;
  }

  a {
    color: $color-dark;
  }

  &.active > a {
    color: $color-link;
  }
}
