/**
* Ubuntu Brand Guidelines base stylesheet
*
* A bespoke stylesheet containing site-wide styles
*
* @project Ubuntu Brand Guidelines
* @version 2.0
* @author Canonical Web Team
* @copyright 2013 Canonical Ltd.
*/
/*
 * Home specific styles
 */

.home #main-content .row-hero {
    padding: 40px;
}

.home .row-hero h1 {
    font-weight: 400;
    line-height: 1.4;

    padding-bottom: 40px;
}
.home .row-hero h1 span {
    font-weight: 300;

    display: inline;
}
.home .row-hero h2,
.home .row-hero p {
    font-size: 16px;
    line-height: 1.3;

    max-width: 300px;
    width: 100%;
}

/* END home specific styles */

/*
 * Breadcrumbs
 */

.nav-secondary ul li.current_page_item a,
.nav-secondary ul li.current_page_item a:link,
.nav-secondary ul li.current_page_item a:visited {
    color: #e95420;
}

/*
 * Accordion styles
 */
#accordion a:link,
#accordion a:visited,
#accordion a:hover {
    text-decoration: none;
}
#accordion ul {
    margin-top: 10px;
    margin-left: 0;
}
#accordion li,
input {
    line-height: 1.3;

    margin-bottom: 12px;
    padding: 0;

    list-style: none;

    border: 0;
}
#accordion a:link,
#accordion a:visited {
    font-size: 13px;
}
#our-values-intro #accordion h3 span,
#our-audiences-intro #accordion h3 span {
    display: none;
}
#our-values-intro .ui-accordion,
#our-audiences-intro .ui-accordion {
    border-bottom: medium none;
}
.ui-state-focus {
    outline: none;
}
.ui-accordion {
    margin-top: 10px;

    border-bottom: 1px dotted #aea79f;
}
#accordion-exposed {
    border: 0;
}
.ui-accordion h3 {
    font-size: 13px;
    font-weight: bold;

    position: relative;

    margin-bottom: 0;

    border-top: 1px dotted #aea79f;
}
.ui-accordion h3 a {
    display: block;

    padding: 10px 0;

    color: #333;
}
.ui-accordion h4 {
    font-size: 13px;
    font-weight: 700;

    margin-top: 5px;
    margin-bottom: 5px;
}
.ui-accordion div fieldset {
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 0;
}
.ui-accordion div li,
.ui-accordion div input {
    margin-bottom: 10px;
}
.ui-accordion label {
    font-size: 13px;

    position: relative;
    top: -2px;
}
.ui-accordion .ui-icon {
    position: absolute;
    top: 15px;
    right: 0;

    display: block;

    width: 8px;
    height: 8px;

    background: url('https://assets.ubuntu.com/v1/37927a91-icon-accordion-inactive.png') 0 0 no-repeat transparent;
}
.ui-accordion .ui-state-active .ui-icon {
    background-image: url('https://assets.ubuntu.com/v1/b281bfba-icon-accordion-active.png');
}
.ui-accordion .current_page_item a {
    color: #333;
}

.filter-toggle {
    background-image: url("https://assets.ubuntu.com/sites/ubuntu/latest/u/img//arrow_down_9fa097.svg");
    background-position: center right 10px;
    background-repeat: no-repeat;
    -moz-background-size: 13px 13px;
    -webkit-background-size: 13px 13px;
    -o-background-size: 13px 13px;
    background-size: 13px 13px;
    clear: none;
    display: none;
    position: relative;
    width: 100%;
    margin: -10px -10px 0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px dotted #888;
    top: -10px;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: .05em;
    font-weight: normal;
    color: #888;
}

.filter-toggle:hover {
    background-color: #F7F7F7;
}

.filter-toggle.active {
    background-image: url("https://assets.ubuntu.com/sites/ubuntu/latest/u/img/arrow_up_9fa097.svg");
}
/* END accoridon styles */

/*
 * Side navigation
 */
#section-menu {
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px dotted #aea79f;
}
#section-menu select {
    width: 100%;
    margin-bottom: 10px;
}
/* END side navigation */

/*
 * Back to top
 */
.wp-link-top {
    clear: both;

    margin: 20px 0;

    border-bottom: 1px dotted #aea79f;
}

.wp-link-top a {
    position: relative;
    top: 10px;

    float: right;

    margin-right: 5px;
    padding: 0 5px;

    background: #fff;
}
/* END back to top */

/*
 * loop guidelines
 */

#loop-guidelines img.alignleft {
    float: left;

    margin: 0 20px 10px 0;
}
#loop-guidelines img.alignright {
    float: right;

    margin: 0 0 10px 20px;
}
#loop-guidelines img.aligncenter {
    display: block;

    margin: 0 auto;
    padding: 5px 0;
}

#loop-guidelines hr {
    clear: both;

    border: 0;
    background: none;
}
/* END loop guidelines */

/*
 * Loop status
 */
#loop-status p {
    font-size: 13px;
    line-height: 1.4;

    float: left;

    margin-right: 5px;
    margin-bottom: 10px;
}
#loop-status p span {
    font-size: 13px;
    font-weight: bold;

    margin-bottom: 0;
    padding-bottom: 10px;
}
#loop-status ol {
    float: left;

    width: 475px;
    margin-bottom: 0;
    margin-left: 0;
}
#loop-status li {
    position: relative;
    top: -5px;

    float: left;

    margin: 0 10px 0 0;

    list-style: none;
}
#loop-status li a {
    font-size: 13px;

    margin-bottom: 5px;
    padding: 2px 25px 2px 10px;

    cursor: pointer;

    color: #333;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: url('https://assets.ubuntu.com/v1/6ff4fa10-link-filter-close.png') right 3px no-repeat #efefef;
}
/* END loop status */

/*
 * Loop results
 */
.loop-results {
    margin-left: 0;
}
.loop-results li {
    font-size: 13px;
    line-height: 1.4;

    display: inline-block;

    width: 135px;
    margin: 20px 30px 0 0;

    vertical-align: top;
    word-wrap: break-word;
}
.loop-results li.loop-error {
    width: auto;
}

.loop-error {
    font-size: .825rem;
    color: #888;
}

/* END loop results */

#loop-examples .loop-results li a:first-child,
#loop-downloads .loop-results li a:first-child {
    display: table-cell;

    height: 145px;
    margin-bottom: 5px;

    text-align: center;
    vertical-align: middle;
}
#loop-downloads .loop-results li img {
    max-width: 140px;
    max-height: 140px;
}
a.colour-white {
    background: url('https://assets.ubuntu.com/v1/ef207e67-background-crosshatch.png') 0 0 repeat transparent;
}

/*
 * Search styles
 */
#form-filter-search {
    padding-top: 1px;
}
#form-filter-search h3 {
    font-size: 13px;
    font-weight: bold;

    padding-bottom: 10px;

    border-bottom: 1px dotted #aea79f;
}
#form-filter-search fieldset {
    padding: 0;

    background: none;
}
#form-filter-search input[type='text'] {
    display: inline;

    width: 170px;
    width: 100%;
    height: 31px;
    margin: 5px 0 12px 0;
    padding: 5px;
    padding-left: 30px;

    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: url('https://assets.ubuntu.com/v1/aaa91269-icon-search-warm-grey.png') no-repeat scroll 5px center;
}
#form-filter-search input[type='text']:focus {
    border-color: #333;
}

#form-filter-search input[type='submit'] {
    position: relative;
    top: 3px;

    display: none;

    width: 24px;
    height: 23px;

    cursor: pointer;

    border: 0;
    background: url('https://assets.ubuntu.com/v1/4cb3ce7f-button-form-filter-search.png') 0 -23px no-repeat transparent;
}
#form-filter-search input[type='submit']:hover {
    background: url('https://assets.ubuntu.com/v1/4cb3ce7f-button-form-filter-search.png') 0 0 no-repeat transparent;
}


.search-section {
    margin-bottom: 3rem;
}

.search-results {
    border-top: 0;
}

.search-result {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.search-result-title {
    margin-bottom: .25rem;
}

.search-result-link {
    display: block;
    margin-bottom: .5rem;
    font-size: .825rem;
}

.search-result-last-updated {
    display: block;
    margin-bottom: .5rem;
    font-size: .825rem;
    color: #888;
}


.search-result-link a:hover {
    text-decoration: none;
}

.search-result-subtitle {
    margin-bottom: 2rem;
}

.search-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.search-downloads .search-result {
    width: 100%;
}

.search-downloads .search-result a {
    display: block;
}

.search-downloads .search-result p,
.search-downloads .search-result a {
    width: 75%;
    text-align: center;
    margin: 0 auto 1rem;
}

.search-downloads .search-result img {
    margin: auto;
    display: block;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .search-downloads .search-result {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .search-downloads .search-result {
        width: 33.333%;
    }
}


/* END search styles */

/*
 * Side panels
 */
.panel-examples {
    margin-top: 8px;
    margin-left: 0;
}
.panel-examples li {
    float: left;

    margin: 0 10px 10px 0;

    list-style: none;
}
.panel-examples li.row-end {
    margin-right: 0;
}
.panel-examples li.last {
    clear: left;
}
.panel-examples li img:first-child {
    margin-top: 5px;
}
.panel-downloads li {
    margin-bottom: 10px;

    list-style: none;
}
.panel-downloads li a:first-child {
    display: block;
    float: left;

    margin: 0 10px 5px 0;
}
.panel-downloads li.last a {
    float: none;

    margin-bottom: 10px;
}
/* END side panels */

/*
 * Box padded styles
 */
.box-padded {
    overflow: hidden;

    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: url('https://assets.ubuntu.com/v1/b9da489c-pattern-featured.gif') repeat scroll 0 0 #ebe9e7;
}
.box-padded h3 {
    margin: 5px 0 10px 5px;
}
.box-padded div {
    overflow: hidden;

    padding: 20px 10px 10px 0;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff;
}
.box-padded li {
    float: left;

    width: 158px;
    padding: 0 10px;

    list-style: none;

    border-right: 1px dotted #aea79f;
}
.box-padded li.first {
    margin-bottom: 0;
    padding: 0;
}
.box-padded li.last {
    border: 0;
}
.box-padded .slider-controls {
    float: right;

    width: 200px;
    padding: 0;

    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.box {
    margin-bottom: 15px;
}
/* END box padded */

/*
 * Slider styles
 */
.slider {
    width: 10000px;
    margin-bottom: 0;
    margin-left: -2px;
    padding: 0;

    background: #fff;
}
.slider img {
    display: block;

    margin: 0 auto;
}
.slider li.row-end {
    border: 0;
}

.slider-jump {
    width: 66px;
    margin: 0 auto;
    padding: 10px 0 0 33px;
}
.slider-jump li {
    float: left;

    width: 9px;
    height: 9px;
    margin-right: 5px;
    padding: 0;

    cursor: pointer;

    border: 1px solid #aea79f;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: transparent;
}
.slider-jump .active {
    cursor: default;

    background: #aea79f;
}
.slider-controls .next {
    width: 34px;
    height: 29px;

    background: url('https://assets.ubuntu.com/v1/c9fed62e-carousel-arrows.png') no-repeat scroll -29px 0;
}
.slider-controls .prev {
    width: 31px;
    height: 29px;

    background: url('https://assets.ubuntu.com/v1/c9fed62e-carousel-arrows.png') no-repeat scroll 0 0;
}
.slider-controls div {
    float: right;

    padding: 0;

    cursor: pointer;

    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.slider-controls .prev.disabled {
    cursor: default;

    background-position: 0 -29px;
}
.slider-controls .next.disabled {
    cursor: default;

    background-position: -29px -29px;
}
.ui-slider {
    position: relative;

    width: 212px;
    height: 10px;

    background: url('https://assets.ubuntu.com/v1/de6e25df-background-slider.png') 0 0 no-repeat transparent;
}
.ui-slider:hover {
    cursor: pointer;
}
.ui-slider a {
    position: absolute;

    display: block;

    width: 12px;
    height: 12px;
    margin: -2px 0 0 -5px;

    background: url('https://assets.ubuntu.com/v1/ebae7d9f-button-slider.png') 0 0 no-repeat transparent;
}
.ui-slider.ui-disabled {
    opacity: .4;

    filter: alpha(opacity=40);
}
.slider-check-label {
    font-size: 13px;

    position: relative;
    top: -2px;

    margin: 0 5px 0 0;
}
.slider-label {
    margin-bottom: 0;
    /*width: 212px;*/
    margin-left: 0;

    list-style: none;
}
.slider-label li {
    font-size: 11px;

    float: left;

    width: 33.33%;
    margin: 2px 0 0 0;
}
.slider-label li.middle {
    text-align: center;
}
.slider-label li.last {
    text-align: right;
}

.mobile-check {
    display: none;
}
/* END slider styles */

/*
 * General
 */
header.banner .logo-ubuntu span {
    font-size: 20px;
    font-weight: 300;

    top: 8px;

    padding-left: 113px;
}

#main-content fieldset {
    margin-bottom: 0;

    border: 0;
}
.slider-label ul,
#loop-status ul {
    margin-left: 0;
}

.left {
    margin-right: 10px;
}

#loop-guidelines img.aligncenter {
    max-width: 100%;
    height: auto;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

strong {
    font-weight: 500;
}

.list-ubuntu.cross li {
    background-image: url('https://assets.ubuntu.com/sites/ubuntu/latest/u/img/patterns/cross-warmgrey.png');
}

.list-ubuntu ul li {
    padding-left: 0;
    background: none;
}

.video-container {
    margin-bottom: 20px;
}

.resource .content-cat {
    padding-left: 20px;
}

.image-container {
      background-color: #f5f5f5;
      padding: 40px;
      display: inline-block;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
}

/* END general */

/* Scopes hero */

#main-content .scopes.row-hero {
    background: url('https://assets.ubuntu.com/sites/ubuntu/latest/u/img/phone/features/image-features-hero.jpg') no-repeat;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 0;
}

.scopes.row-hero h1 {
    padding-top: 30px
}

/* 404 Page */

body.error404 #main-content {
    padding-bottom: 0;
}
body.error404 #main-content .row {
    padding-top: 0;
    padding-bottom: 0;
}
body.error404 #main-content .row div {
    margin-bottom: -4px;
}
body.error404 #main-content .hero-box span {
    font-size: 36px;

    position: absolute;
    top: 48px;
    right: 49px;

    color: #fff;
}
body.error404 #main-content .hero-box img {
    margin-top: -12px;
}
body.error404 #main-content .hero-box .last-col {
    padding-top: 70px;
}

/* End 404 */

/*
 * Tint Styles
 */
.swatch {
    display: block;
    float: left;

    width: 45%;
    margin: 0;
    margin-right: 4.9%;
    margin-bottom: 20px;
    padding: 0;

    list-style-type: none;
}
.swatch li {
    line-height: 40px;

    min-height: 40px;
    margin: 0;
    padding: 5px 10px;
}
.swatch .light {
    color: #fff;
}
.swatch .hex-color {
    float: right;
}

/* Link top */

.link-top a {
    margin-top: -35px;
}

/* Cookie Policy */

.cookie-policy {
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    background-color: #fae4dc;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.cookie-policy .wrapper {
    width: 984px;
    background: none;
}

.cookie-policy p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 8px 0;
    width: 100%;
}

.cookie-policy .link-cta {
    background-image: url('https://assets.ubuntu.com/v1/3f057022-close-orange.svg');
    background-repeat: no-repeat;
    color: #fff;
    float: right;
    font-size: 1em;
    height: 15px;
    margin: 12px 10px;
    margin-top: 12px;
    padding: 0;
    text-decoration: none;
    text-indent: -9999px;
    width: 16px;
}

@media screen and (max-width: 960px) {

    [id^="attachment_"],
    img {
        width: auto !important;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {

    .filter {
        display: none;
        margin: 0;
        float: left;
        width: 100%;
    }

    .filter-toggle {
        display: block;
    }

    #form-filter-search h3 {
        display: none;
    }

    #accordion h3,
    #accordion h4 {
        width: 100%;
        display: inline-block;
        margin: 0 -10px;
        padding: 0 10px 10px;
    }

    #accordion h3 a,
    #accordion h4 a {
        padding-bottom: 0;
    }

    #accordion h3:first-of-type,
    #accordion h3:first-of-type a {
        border-top: none;
        padding-top: 0;
    }

    #accordion h3 + div {
        display: block !important;
    }

    #accordion ul {
        margin: 0;
    }

    .slider-check,
    .slider-check-label,
    .slider-label {
        display: none;
    }

    .mobile-check {
        display: block;
    }

    .ui-accordion {
        width: 100%;
        margin: 0;
        display: inline-block;
        padding: 0 10px;
        margin: 0 -10px 20px;
    }

    .ui-accordion div li,
    .ui-accordion div input {
        clear: left;
        float: left;
    }

    .ui-accordion div input {
        margin-right: 5px;
    }

    .ui-accordion div label {
        float: left;
        clear: right;
    }

    .ui-accordion .ui-icon {
        display: none;
    }

    #loop-status {
        width: 100%;
        display: inline-block;
        margin: 0 -10px;
        padding: 0 10px;
        border-bottom: 1px dotted #aea79f;
    }

    #loop-status ol {
        float: left;
        width: 100%;
    }

    .loop-status {
        float: left;
        width: 100%;
    }

    .loop-results {
        border-top: none;
    }
}

@media only screen and (min-width: 768px) {
    .equal-heights {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .equal-heights > div,
    .equal-heights > li {
        box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
    }

    .equal-heights .vertical-align {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.vertical-align {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.vertical-align--image-left > p {
    min-width: 52px;
}

.vertical-align__image {
  flex-grow:0;
  flex-shrink:0;
  float: left;
  margin-right: 20px;
}

.vertical-align__content {
  height: 100%;
}

.hidden {
  display: none !important;
}
