---
# build the vanillaframework.io brochure theme
---

@import 'vanilla-brochure-theme/scss/build';

.p-navigation__logo {
  margin: .5rem;
}

/* Header search styling - borrowed from docs - https://github.com/CanonicalLtd/documentation-builder/blob/75cbc7629a1cc780960d5438ae0e826903ebb6e0/ubuntudesign/documentation_builder/resources/template.html just added marin to the .search--header and changed the field background color to white */
.search__label {
  display: none;
}
.search--header {
  margin: .5rem;
  float: right;
  margin-left: auto;
}
.search__field,
.search__field[type='search'] {
  max-width: 480px;
  padding: 6px 38px 6px 10px;
  float: left;
  margin-right: -38px;
  border-color: #cdcdcd;
  display: block;
  background-color: #ffffff;
  line-height: 24px;
  margin-bottom: 0;
}
.search--header .search__field {
  width: 250px;
}
@media (max-width: 767px) {
  .search__button {
    width: auto;
  }
}
.search__button,
.search__button:focus,
.search__button:active {
  border: none;
  display: block;
  padding: 6px;
  margin: 0;
  vertical-align: middle;
  background-color: transparent;
  line-height: 0;
}
.search__button:hover {
  background-color: transparent;
  border: none;
}
.search__svg-frame {
  stroke: #888
}
.search__button:hover .search__svg-frame {
  stroke: #111;
}
.search__svg-handle {
  fill: #888;
}
.search__button:hover .search__svg-handle {
  fill: #111;
}
