{% extends "_layouts/page-bare.html" %}
{% block title %}Resources{% endblock %}

{% block content %}
<section class="p-suru--50-50">
  <div class="row--50-50">
    <div class="col">
      <h1>Design resources</h1>
    </div>
    <div class="col">
      <p>
        On this page you will find everything you need to design and build with our design system, including our Figma component library, our icon library and the Ubuntu font.
      </p>
    </div>
  </div>
</section>


<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Design system library</h2>
    </div>
    <div class="col">
      <p>
        In this Figma library you will find our most up-to-date responsive components to build your designs.
      </p>
      <p>
        <a
          href="https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=803%3A9310&t=W0OglotYBvqZyM1e-1"
        >
          View our Figma library
        </a>
      </p>
    </div>
  </div>
</section>

<div class="p-section--deep">
  <div class="u-fixed-width">
    <h2 class="p-muted-heading">Brand resources</h2>
  </div>

  <!-- FONTS -->
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h3 class="p-heading--2">Ubuntu typefaces</h3>
    </div>
    <div class="col">
      <div class="p-media-container">
        {{ image (
          url="https://assets.ubuntu.com/v1/bfe86ea2-ssh_.png",
          alt="ssh_ written with Ubuntu typeface",
          width="290",
          height="129",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
        }}
      </div>

      <p>
        The Ubuntu font has contemporary style that conveys a precise, reliable and free attitude.
      </p>
      <ul class="p-list--divided">
        <li class="p-list__item"><a href="https://assets.ubuntu.com/v1/0cef8205-ubuntu-font-family-0.83.zip">Download the Ubuntu Font Family</a> (2.2MB)</li>
        <li class="p-list__item"><a href="https://assets.ubuntu.com/v1/0f5898c1-ubuntu-font-family-sources_0.83.orig.tar.gz">Download the Ubuntu Font Family source code</a> (8.4MB)</li>
      </ul>
    </div>
  </div>

  <!-- ICONS -->
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h3 class="p-heading--2">Icon set</h3>
    </div>
    <div class="col">
      <div class="p-media-container">
        <div
          class="resources__content-thumb icons_thumb"
          id="icon_content_thumb"
        >
          {% for item in resources_data.icons %}
            <div  class="icon__item">
              <i
                class="p-icon--{{ item.name }}"
                style="width: 18px; height: 18px; margin-bottom: 0.5rem"
              ></i>
            </div>
          {% endfor %}
        </div>
      </div>

      <label class="p-switch">
        <input
          type="checkbox"
          class="p-switch__input"
          role="switch"
          id="icon_switch"
          onchange="switchIconThumbTheme()"
        >
        <span class="p-switch__slider"></span>
        <span class="p-switch__label">Dark mode</span>
      </label>
      <p>
        Our icon library includes our generic UI iconography as well as some bespoke concepts.
      </p>
      <p>
        <a href="https://vanillaframework.io/docs/patterns/icons">Use the icons in Vanilla</a>
      </p>
    </div>
  </div>

  <!-- WALLPAPERS -->
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h3 class="p-heading--2">Wallpapers</h3>
    </div>
    <div class="col">
      <div class="p-media-container">
        {{ image (
          url="https://assets.ubuntu.com/v1/ec6cc515-wallpaper_minotaur_colour_1920x1080.png",
          alt="",
          width="1920",
          height="1080",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
        }}
      </div>

      <p>
        Ubuntu wallpapers and the mascot are important parts of our brand identity.
      </p>
      <p>
        <a href="https://drive.google.com/drive/folders/1dKGvGgFp4ymGNBPU6LRScfBm4KuwIn2c?usp=sharing">Browse the mascot wallpapers</a>
      </p>
    </div>
  </div>

  <!-- SLIDES -->
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h3 class="p-heading--2">Slide template</h3>
    </div>
    <div class="col">
      <div class="p-media-container">
        {{ image (
          url="https://assets.ubuntu.com/v1/59e3bb07-Slide_template.png",
          alt="",
          width="780",
          height="440",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
        }}
      </div>

      <p>
        Use this template to create presentations with the Canonical branding style.
      </p>
      <p>
        <a href="https://docs.google.com/presentation/u/0/?tgif=d&ftv=1">Use the slide template (internal)</a>
      </p>
    </div>
  </div>

  <!-- LOGOS -->
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h3 class="p-heading--2" id="logos">Logos</h3>
    </div>
    <div class="col">
      <label class="p-switch">
        <input
          type="checkbox"
          class="p-switch__input"
          role="switch" id="logo_switch"
          onchange="switchLogoThumbTheme()"
        >
        <span class="p-switch__slider"></span>
        <span class="p-switch__label">Dark mode</span>
      </label>

      <div class="u-no-margin--bottom resources__content-thumb" id="logo_content_thumb">
        {% for item in resources_data.logos %}
            <div class="light_strip">
              <a href="{{ item.svg_link_light }}" target="_blank">
                <img class="resources_logo" src="{{ item.svg_link_light }}" alt="{{ item.name }}" />
              </a>
            </div>
            <div class="resources__dark_mode dark_strip u-hide">
              <a href="{{ item.svg_link_dark }}" target="_blank">
                <img class="resources_logo" src="{{ item.svg_link_dark }}" alt="{{ item.name }}" />
              </a>
            </div>
            {% if loop.index < resources_data.logos|length %}
                <hr class="u-no-margin--top logo_separator" />
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- EMAIL SIGNATURE -->
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h3 class="p-heading--2" id="logos">Email signature</h3>
    </div>
    <div class="col">
      <div class="p-media-container">
        <iframe class="email-signature-frame" id="email-signature-frame" height="250px">
        </iframe>
      </div>
      <button id="email-signature-copy-button" class="p-button--positive u-no-margin--right u-float-right has-icon"><i class="js-copy-icon p-icon--copy is-dark"></i><span id="copy-button-label">Copy to clipboard</span></button>
      <template id="email-signature-template">{% include "resources/_email-signature.html" %}</template>
      <script>
        if ("content" in document.createElement("template")) {
          const frame = document.querySelector("#email-signature-frame");
          const template = document.querySelector("#email-signature-template");
          const button = document.querySelector("#email-signature-copy-button");

          const doc = frame.contentWindow.document;
          doc.open();
          doc.write(template.innerHTML);
          doc.close();
          doc.body.contentEditable = true;

          // based on
          // https://stackoverflow.com/questions/23934656/how-can-i-copy-rich-text-contents-to-the-clipboard-with-javascript
          function copyHtmlToClip(str) {
            function handleCopy(e) {
              e.clipboardData.setData("text/html", str);
              e.clipboardData.setData("text/plain", str);
              e.preventDefault();
            }
            document.addEventListener("copy", handleCopy);
            document.execCommand("copy");
            document.removeEventListener("copy", handleCopy);
          };

          button.addEventListener("click", function() {
            copyHtmlToClip(doc.body.innerHTML);

            const buttonRect = button.getBoundingClientRect();
            button.style.width = buttonRect.width + 'px';
            button.style.height = buttonRect.height + 'px';

            button.querySelector(".js-copy-icon").classList.add("p-icon--success");
            button.querySelector(".js-copy-icon").classList.remove("p-icon--copy");
            button.querySelector("#copy-button-label").textContent = "Copied!";

            setTimeout(() => {
              button.style.width = "";
              button.style.height = "";

              button.querySelector(".js-copy-icon").classList.remove("p-icon--success");
              button.querySelector(".js-copy-icon").classList.add("p-icon--copy");
              button.querySelector("#copy-button-label").textContent = "Copy to clipboard";
            }, 2000);
          });
        }
      </script>
    </div>
  </div>
</div>

<script>
  const switchLogoThumbTheme = () => {
    const switchLogo = document.querySelector("#logo_switch");
    const logoContentThumb = document.querySelector("#logo_content_thumb");
    const darkStrip = document.querySelectorAll(".dark_strip");
    const lightStrip = document.querySelectorAll(".light_strip");
    const separators = document.querySelectorAll(".logo_separator");

    if(switchLogo.checked){
      darkStrip.forEach((item) => {
        item.classList.remove("u-hide");
      });
      lightStrip.forEach((item) => {
        item.classList.add("u-hide");
      });
      separators.forEach((item) => {
        item.classList.add("is-dark");
      });
      logoContentThumb.classList.add("resources__dark_mode");

    } else {
      darkStrip.forEach((item) => {
        item.classList.add("u-hide");
      });
      lightStrip.forEach((item) => {
        item.classList.remove("u-hide");
      });
      separators.forEach((item) => {
        item.classList.remove("is-dark");
      });
      logoContentThumb.classList.remove("resources__dark_mode");
    }
  };

  const switchIconThumbTheme = () => {
    const switchIcon = document.querySelector("#icon_switch");
    const iconContentThumb = document.querySelector("#icon_content_thumb");

    if(switchIcon.checked){
      iconContentThumb.classList.add(
        "resources__dark_mode",
        "icons--dark" // the class "icons--dark" is used to invert the color of the icons, there's no actual CSS style involved. Same thing applies in the else statement.
       );
    } else {
      iconContentThumb.classList.remove(
          "resources__dark_mode",
          "icons--dark"
        );
    }
  };
</script>
{% endblock %}
