{% extends "_layouts/page.html" %} {% block title %}Resources{% endblock %} {%
block content %}
<section class="p-strip--accent is-deep">
  <div class="row">
    <div class="col-4 col-medium-2">
      <h1 class="p-heading--2">Design resources</h1>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        On this page you will find everything you need to design and build with our design system, including our Figma component library, our icon library and the Ubuntu font.
      </p>
    </div>
  </div>
</section>
<section class="p-strip--light is-deep">
  <div class="row">
    <div class="col-4 col-medium-2">
      <div class="col-3 col-medium-2">
        <h2>Design system library</h2>
      </div>
      <div class="col-1 u-hide--medium u-hide--small"></div>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        In this Figma library you will find our most up-to-date responsive components to build your designs.
      </p>
      <p>
        <a
          href="https://www.figma.com/file/H6MSsN3taoXXOJCPUbIImQ/Design-System-Library?node-id=803%3A9310&t=W0OglotYBvqZyM1e-1"
        >
          View our Figma library
        </a>
      </p>
    </div>
  </div>
</section>
<div class="p-strip is-deep">
  <div class="row">
    <h2>Brand resources</h2>
    <hr />
    <div class="row u-sv3" style="padding-top: 0.5rem;">
      <div class="col-4 col-medium-2">
        <h3 class="p-heading--5">Ubuntu typefaces</h3>
      </div>
      <div class="col-4 u-hide--medium u-hide--small">
        <div
          class="resources__content-thumb typeface"
        >
          {{ image (
            url="https://assets.ubuntu.com/v1/bfe86ea2-ssh_.png",
            alt="ssh_ written with Ubuntu typeface",
            width="290",
            height="129",
            hi_def=True,
            loading="auto|lazy"
            ) | safe
          }}
        </div>
      </div>
      <div class="col-4 col-medium-4">
        <p>
          The Ubuntu font has contemporary style that conveys a precise, reliable and free attitude.
        </p>
        <p>
          <a>Download the Ubuntu typefaces</a>
        </p>
      </div>
    </div>
    <hr class="u-no-margin--top" />
    <div class="row u-sv3">
      <div class="col-4 col-medium-2">
        <h3 class="p-heading--5">Icon set</h3>
      </div>
      <div
        class="col-4 u-hide--medium u-hide--small resources__content-thumb icons_thumb"
        id="icon_content_thumb"
      >
        {% for item in resources_data.icons %}
          <div  class="icon__item">
            <i 
              class="p-icon--{{ item.name }}" 
              style="width: 18px; height: 18px;"
            ></i>
          </div>
        {% endfor %}
      </div>
      <div class="col-4 col-medium-4">
        <label class="p-switch">
          <input 
            type="checkbox" 
            class="p-switch__input" 
            role="switch" 
            id="icon_switch" 
            onchange="switchIconThumbTheme()"
          >
          <span class="p-switch__slider"></span>
          <span class="p-switch__label">Dark mode</span>
        </label>
        <p>
          Our icon library includes our generic UI iconography as well as some bespoke concepts.
        </p>
        <p>
          <a href="https://vanillaframework.io/docs/patterns/icons">Download the icon set</a>
        </p>
      </div>
    </div>
    <hr class="u-no-margin--top" />
    <div class="row u-sv3">
      <div class="col-4 col-medium-2">
        <h3 class="p-heading--5">Slide template</h3>
      </div>
      <div
        class="col-4 u-hide--medium u-hide--small resources__content-thumb"
      >
        {{ image (
          url="https://assets.ubuntu.com/v1/47afbf87-black.png",
          alt="black placeholder image",
          width="400",
          height="183",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
        }}
      </div>
      <div class="col-4 col-medium-4">
        <p>
          Use this template to create presentations with the Canonical branding style.
        </p>
        <p>
          <a>Download the slide template</a>
        </p>
      </div>
    </div>
    <hr class="u-no-margin--top" />
    <div class="row">
      <div class="col-4 col-medium-2">
        <h3 class="p-heading--5">Logos</h3>
      </div>
      <div class="col-8 col-medium-4 u-sv3 resources__content-thumb logo_thumb">
        <div class="row">
          <div class="col-2 col-medium-2">
            <label class="p-switch">
              <input 
                type="checkbox" 
                class="p-switch__input" 
                role="switch" id="logo_switch" 
                onchange="switchLogoThumbTheme()"
              >
              <span class="p-switch__slider"></span>
              <span class="p-switch__label">Dark mode</span>
            </label>
          </div>
        </div>
        <div class="col-8 u-no-margin--bottom resources__content-thumb" id="logo_content_thumb">
          {% for item in resources_data.logos %}
              <div class="col-8 col-medium-4 p-list__item light_strip">
                <a href="{{ item.svg_link_light }}" target="_blank">
                  {{ image (
                    url=item.svg_link_light,
                    alt=item.name,
                    width=item.image_width,
                    hi_def=True,
                    loading="auto|lazy"
                    ) | safe
                  }}
                </a>
              </div>
              <div class="col-8 col-medium-4 p-list__item resources__dark_mode dark_strip u-hide">
                <a href="{{ item.svg_link_dark }}" target="_blank">
                  {{ image (
                    url=item.svg_link_dark,
                    alt=item.name,
                    width=item.image_width,
                    hi_def=True,
                    loading="auto|lazy"
                    ) | safe
                  }}
                </a>
              </div>
              {% if loop.index < resources_data.logos|length %}
                  <hr class="u-no-margin--top logo_separator" />
              {% endif %} 
          {% endfor %}
        </div>
        <p>
          <a 
            href="https://drive.google.com/drive/u/2/folders/10CISCFXzMjn5e8hDBwH7xdPceIzIEAhS" 
            target="_blank"
            rel="noopener noreferrer" 
          >
            See all logos
          </a>
        </p>
      </div>
    </div>
    <hr class="u-no-margin--top" />
    <div class="row">
      <div class="col-4 col-medium-2">
        <h3 class="p-heading--5">Illustrations</h3>
      </div>
      <div
        class="col-4 u-hide--medium u-hide--small resources__content-thumb"
      >
        {{ image (
          url="https://assets.ubuntu.com/v1/47afbf87-black.png",
          alt="black placeholder image",
          width="400",
          height="183",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
        }}
      </div>
      <div class="col-4 col-medium-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel
          mi sed nibh ullamcorper maximus dictum varius ligula.
        </p>
        <p>
          <a>Download the slide template</a>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  const switchLogoThumbTheme = () => {
    const switchLogo = document.querySelector("#logo_switch");
    const logoContentThumb = document.querySelector("#logo_content_thumb");
    const darkStrip = document.querySelectorAll(".dark_strip");
    const lightStrip = document.querySelectorAll(".light_strip");
    const separators = document.querySelectorAll(".logo_separator");
    
    if(switchLogo.checked){
      darkStrip.forEach((item) => {
        item.classList.remove("u-hide");
      });
      lightStrip.forEach((item) => {
        item.classList.add("u-hide");
      });
      separators.forEach((item) => {
        item.classList.add("is-dark");
      });
      logoContentThumb.classList.add("resources__dark_mode");

    } else {
      darkStrip.forEach((item) => {
        item.classList.add("u-hide");
      });
      lightStrip.forEach((item) => {
        item.classList.remove("u-hide");
      });
      separators.forEach((item) => {
        item.classList.remove("is-dark");
      }); 
      logoContentThumb.classList.remove("resources__dark_mode");
    }
  };

  const switchIconThumbTheme = () => {
    const switchIcon = document.querySelector("#icon_switch");
    const iconContentThumb = document.querySelector("#icon_content_thumb");
    
    if(switchIcon.checked){
      iconContentThumb.classList.add(
        "resources__dark_mode",
        "icons--dark" // the class "icons--dark" is used to invert the color of the icons, there's no actual CSS style involved. Same thing applies in the else statement.
       ); 
    } else {
      iconContentThumb.classList.remove(
          "resources__dark_mode", 
          "icons--dark"
        );
    }
  };
</script>
{% endblock %}
