{% extends "_layouts/page-bare.html" %}

{% block title %}404: Page not found{% endblock %}

{% block content %}
<section class="p-strip is-deep">
  <div class="row--25-75">
    <hr class="p-rule">
    <div class="col u-hide--small">
      <p class="p-heading--1">404</p>
    </div>
    <div class="col">
      <h1><span class="u-hide--medium u-hide--large">404: </span>Page not found</h1>
      <p class="p-heading--2">
        We can't find the page you're looking for.
        <br>
        <a href="https://github.com/canonical/design.ubuntu.com/issues/new/choose">File a bug</a> if you think this might be an error.
      </p>
    </div>
  </div>
</section>

{% endblock %}
