{% extends "_layouts/home.html" %}

{% block title %}Ubuntu Design{% endblock %}

{% block content %}
<section class="p-strip--accent">
  <div class="row">
    <div class="col-4 col-medium-2">
        <h2>Welcome to<br/>Canonical Design</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Maecenas vel mi sed nibh ullamcorper
        maximus dictum varius ligula.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-3 col-medium-2">
      <h2>Brand guidelines</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">The canonical brand</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Logos</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 col-start-medium-3 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="/brand/colour-palette">Colour</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-start-large-4 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="/font">Ubuntu font</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2  col-start-medium-3 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Iconography</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Animation style</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-3 col-medium-2">
      <h2>Vanilla<br/>Design System</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Getting started</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Building with Vanilla</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 col-start-medium-3 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Vanilla Foundations</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-start-large-4 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Components</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 col-start-medium-3 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">Patterns</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <header class="p-card__header u-vertically-center u-align--center" style="min-height: 150px;">
        <img src="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg" alt="Circle of Friends logo (svg)" class="brand-canonical channel-web element-logo voice-canonical" width="140">
      </header>
      <p class="p-card__content">
        <a href="https://assets.ubuntu.com/v1/ce518a18-CoF-2022_solid+O.svg">How-to Guides</a>
      </p>
      <p>
        Maecenas vel mi sed nibh ullamcorper maximus dictum varius ligula.
      </p>
    </div>
  </div>
</section>

<hr />

<section class="p-strip">
  <div class="row">
    <div class="col-3 col-medium-2">
      <h2>Accessibility at canonical</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Maecenas vel mi sed nibh ullamcorper
        maximus dictum varius ligula.
      </p>
      <a href="/accessibility">Learn more about accessibility standards</a>
    </div>
  </div>
</section>

<hr />

<section class="p-strip">
  <div class="row">
    <div class="col-3 col-medium-2">
      <h2>Design resources</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Maecenas vel mi sed nibh ullamcorper
        maximus dictum varius ligula.
      </p>
      <a href="/resources">Download our design resources</a>
    </div>
  </div>
</section>

<hr />

<section class="p-strip">
  <div class="row">
    <div class="col-3 col-medium-2">
      <h2>How to contribute</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi
        sed nibh ullamcorper maximus dictum varius ligula. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Maecenas vel mi sed nibh ullamcorper
        maximus dictum varius ligula.
      </p>
      <a href="/contribute">Learn how to contribute to our design system</a>
    </div>
  </div>
</section>

{% endblock %}
