{% extends "_layouts/page-bare.html" %}

{% block title %}Ubuntu Design{% endblock %}

{% block content %}
<section class="p-strip--accent is-deep">
  <div class="row">
    <div class="col-6 col-medium-2">
        <h1>Welcome to <br> Canonical Design</h1>
    </div>
  </div>
</section>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-6 col-medium-2">
      <h2>Our brand</h2>
      <p>
        The Canonical and Ubuntu Brand Guidelines exist so we can all communicate Ubuntu with the same precision we use to make it.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-card  u-no-padding">
      <img class="p-card__image" src="https://assets.ubuntu.com/v1/e4a29f4c-Canonical2022_050%201.png" alt="">
      <div class="p-card__inner">
        <h3><a href="/brand">Canonical and Ubuntu</a></h3>
        <p>
          Our brand is based on four core values: freedom, reliability, precision and collaboration.
        </p>
      </div>
    </div>
    <div class="col-3 col-medium-2 p-card  u-no-padding">
      <img  class="p-card__image" src="https://assets.ubuntu.com/v1/d639b982-canonical-brand-tile.png" alt="" width="140">
      <div class="p-card__inner">
        <h3><a href="/resources#logos">Logos</a></h3>
        <p>
          Download the official logos for all of Canonical's products.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr />
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6 col-medium-2">
      <h2>Vanilla Design System</h2>
      <p>Vanilla is our lightweight, composable and open-source component library. It contains a responsive CSS grid, basic style for HTML elements and a selection of key useful patterns and utility classes that you can extend.</p>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <div class="p-card__content">
        <img class="p-card__image" src="https://assets.ubuntu.com/v1/383ca4d9-vanilla_favicon_16px.svg" alt="" >
        <h3><a href="/vanilla">Vanilla Design System</a></h3>
        <p>
          Vanilla contains useful patterns and utility classes that you can extend.
        </p>
      </div>
    </div>
    <div class="col-3 col-medium-2 p-card">
      <div class="p-card__content">
        <img class="p-card__image" src="https://assets.ubuntu.com/v1/0276b842-github-icon.svg" alt="" >
        <h3><a href="https://vanillaframework.io/docs">Getting started</a></h3>
        <p>
          Learn how to use our CSS framework to start building your project.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr />
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6 col-medium-2">
      <h2>Accessibility at Canonical</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        At Canonical we want to be inclusive, that is why we aim to comply with the AA level Web Content Accessibility Guidelines (WCAG) 2.1.
      </p>
      <a href="/accessibility">Learn about how accessibility fits in our day-to-day work</a>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr />
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6 col-medium-2">
      <h2>Design resources</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        On this page you will find everything you need to design and build with our design system, including our Figma component library, our icon library and the Ubuntu font.
      </p>
      <a href="/resources">Download our design resources</a>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr />
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6 col-medium-2">
      <h2>How to contribute</h2>
    </div>
    <div class="col-6 col-medium-4">
      <p>
        You can use our open-source design system to build any website or product. At Canonical we are always working to improve and update it.
      </p>
      <a href="/contribute">Learn how to contribute to our design system</a>
    </div>
  </div>
</section>

{% endblock %}
