{% extends "_layouts/page-bare.html" %}

{% block title %}Ubuntu Design{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1gAcMzBy67q0QcS7DuQcY9PA2h6E-p5rb4RJSgH_Clm0/edit{% endblock %}

{% block content %}
<div class="p-suru--25-75">
  <div class="row--25-75">
      <div class="col">
          <h1>Welcome to <br> Canonical Design</h1>
      </div>
  </div>
</div>

<section class="p-section">
  <div class="row">
    <hr class="p-rule"/>
    <div class="col-6 col-medium-2">
      <h2>Our brand</h2>
      <p>
        The Canonical and Ubuntu Brand Guidelines exist so we can all communicate Ubuntu with the same precision we use to make it.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-media-container">
      <img src="https://assets.ubuntu.com/v1/e4a29f4c-Canonical2022_050%201.png" alt="">
      <h3><a href="/brand">Canonical and Ubuntu</a></h3>
      <p>
        Our brand is based on four core values: freedom, reliability, precision and collaboration.
      </p>
    </div>
    <div class="col-3 col-medium-2 p-media-container">
      <img src="https://assets.ubuntu.com/v1/d639b982-canonical-brand-tile.png" alt="">
      <h3><a href="/resources#logos">Logos</a></h3>
      <p>
        Download the official logos for all of Canonical's products.
      </p>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50-on-large row--25-75-on-medium">
    <hr class="p-rule"/>
    <div class="col">
      <h2>Vanilla Framework</h2>
    </div>
    <div class="col">
      <p>Vanilla is our lightweight, composable and open-source component library. It contains a responsive CSS grid, basic style for HTML elements and a selection of key useful patterns and utility classes that you can extend.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-start-large-7 col-medium-3 p-media-container">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/383ca4d9-vanilla_favicon_16px.svg" alt="">
          <h3 class="p-heading-icon__title"><a href="/vanilla">Vanilla Framework</a></h3>
        </div>
        <p>Vanilla contains useful patterns and utility classes that you can extend.</p>
      </div>
    </div>
    <div class="col-3 col-medium-3 p-media-container">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/0276b842-github-icon.svg" alt="">
          <h3 class="p-heading-icon__title"><a href="https://vanillaframework.io/docs">Getting started</a></h3>
        </div>
        <p>Learn how to use our CSS framework to start building your project.</p>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50-on-large row--25-75-on-medium">
    <hr class="p-rule" />
    <div class="col">
      <h2>Accessibility at Canonical</h2>
    </div>
    <div class="col">
      <p>
        At Canonical we want to be inclusive, that is why we aim to comply with the AA level Web Content Accessibility Guidelines (WCAG) 2.1.
      </p>
      <a href="/accessibility">Learn about how accessibility fits in our day-to-day work</a>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50-on-large row--25-75-on-medium">
    <hr class="p-rule" />
    <div class="col">
      <h2>Design resources</h2>
    </div>
    <div class="col">
      <p>
        On this page you will find everything you need to design and build with our design system, including our Figma component library, our icon library and the Ubuntu font.
      </p>
      <a href="/resources">Download our design resources</a>
    </div>
  </div>
</section>

<section class="p-section--deep">
  <div class="row--50-50-on-large row--25-75-on-medium">
    <hr class="p-rule" />
    <div class="col">
      <h2>How to contribute</h2>
    </div>
    <div class="col">
      <p>
        You can use our open-source design system to build any website or product. At Canonical we are always working to improve and update it.
      </p>
      <a href="/contribute">Learn how to contribute to our design system</a>
    </div>
  </div>
</section>

{% endblock %}
