<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body id="wrapper" class="{{ page.body-class }}">

  {% include header.html %}

  {% if page.body-id=="web-style-guide" %}
  <div class="p-strip">
    <div class="row">
      <div class="12-col">
        {% include side-nav-web.html %}
      </div><!-- /.12-col -->
    </div><!-- /.row -->
  </div><!-- /.p-strip -->
  {% endif %}

  <div class="p-strip">
    <div class="row">
      <div class="12-col">

        {{ content }}

      </div><!-- /.12-col -->
    </div><!-- /.row -->
  </div><!-- /.p-strip -->


  {% include footer.html %}

</body>
</html>
