<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body id="wrapper" class="{{ page.body-class }}">

  {% include header.html %}

  <div class="p-strip">
    <div class="row">
      <div class="12-col">
        <h1>{{ page.title }}</h1>
      </div><!-- /.12-col -->
    </div><!-- /.row -->
  </div><!-- /.p-strip -->

  <div class="p-strip">
    <div class="row">
      {% if page.body-id=="brand-assets" %}
      <div class="col-2">
        {% include side-nav-brand.html %}
      </div>
      {% elsif page.body-id=="apps" %}
      <div class="col-2">
        {% include side-nav-apps.html %}
      </div>
      {% elsif page.body-id=="downloads" %}
      <div class="col-2">
        {% include side-nav-downloads.html %}
      </div>
      {% endif %}

      <div class="{% if page.body-id=="downloads" %}col-10{% elsif page.body-id=="examples" %}col-12{% elsif page.body-id=="brand-assets" %}col-10{% else %}col-10{% endif %}">
        {{ content }}
      </div><!-- /.8-col -->
    </div><!-- /.p-strip -->
  </div><!-- /.row -->

  {% include footer.html %}

</body>
</html>
