<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body id="{{ page.body-id }}" class="{{ page.body-class }}">

  {% include header.html %}
  {% if page.body-id=="brand-assets" %}
      {% include nav-brand.html %}
  {% endif %}
  <div class="p-strip is-shallow ">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>

{{ content }}

  {% include footer.html %}
</body>
</html>
