{% extends "_layouts/page-bare.html" %}

{% block title %}Contribute{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1az4PIbq8M3LqzU0hxyhCi7JyCulFWXDqdHHv2ycFFNo/edit{% endblock %}

{% block content %}
<section class="p-suru--50-50">
  <div class="row--50-50">
    <div class="col">
      <h1>Contribute</h1>
    </div>
    <div class="col">
      <p>
        You can use our open-source design system to build any website or product. At Canonical we are always working
        to improve and update it. Here are some ways in which you can contribute:
      </p>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Propose a change</h2>
    </div>
    <div class="col">
      <p>
        If you have found a bug on the site or have an idea for a new feature, feel free to <a
              href="https://github.com/canonical/design.ubuntu.com/issues/new/choose">create a new issue</a>, or
        suggest a fix by creating a pull request.
      </p>
      <p>
        Please provide as much information possible detailing what you're currently experiencing and what you'd expect
        to experience.
      </p>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Propose a new component</h2>
    </div>
    <div class="col">
      <p>
        If you find that you can't design a particular functionality by using our existing components or patterns, we
        encourage you to file an issue in the Vanilla Github repo. You can either propose a new component or pattern,
        or suggest amends to existing ones.
      </p>
      <p>
        Internally, we have a working group which will look at your proposal and discuss whether there are alternative
        ways of accomplishing your goals with existing components, or validate your request. Once your request has
        been validated one of our designers will take ownership of this issue and work on providing a solution.
      </p>
      <a href="https://github.com/canonical/vanilla-framework/issues/new/choose">Submit a new issue</a>
    </div>
  </div>
</section>

<section class="p-section--deep">
  <div class="row--50-50">
    <hr class="p-rule" />
    <div class="col">
      <h2>Request a resource and logo</h2>
    </div>
    <div class="col">
      <p>
        If you can't find a resource or a logo, we encourage you to file an issue in our Github repo. You can either
        propose a new resource or logo, or suggest amends to existing ones.
      </p>
      <a href="https://github.com/canonical/design.ubuntu.com/issues/new/choose">Request a resource</a>
    </div>
  </div>
</section>
{% endblock %}
